.select2-container .select2-selection--single {
    height: 60px !important;
    background-color: #f0f6fe !important;
    border: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 18px !important;
    right: 10px !important;
}